{extend name="public/base" />
{block name="user_css"}
<!--引入CSS-->
<link rel="stylesheet" type="text/css" href="__ADMIN__/plugins/WebUploader/webuploader.css">
<style>
    .video-box{
        background-color: #000000;
        border-radius: 10px;
        width: 200px;
        height: 200px;
        margin: 10px;
        float: left;
        position: relative;
    }
    .video-mask{
        position: absolute;
        top: 0;
        left: 0;
        width: 200px;
        height: 200px;
        background-color: rgba(0,0,0,0.7);
        color: white;
        border-radius: 10px;
        padding: 20px;
        display: none;
    }
    .video-mask span{
        position: absolute;
        bottom: 0;
        top: 80px;
    }
    .video-mask span:hover{
        color: #5d6974;
    }
    video{
        width: 200px;
        height: 200px;
    }
    .upload-video-info-panel{
        box-shadow: -1px 1px 2px #c1c6d7;
        border: 1px solid #f0f0f0;
        border-radius: 10px;
        padding: 10px;
        display: none;
    }
    .upload-video-button-group{
        position: absolute;
        bottom: 10px;
        right: 50px;
    }
    .video-detail {
        position: absolute;
        bottom: 0;
        width: 170px;
        height: 50px;
    }
    .info-message {
        color: #5d6974;
        text-align: center;
        width: 100%;
        height: 50px;
    }
    .video-category {
        background-color: #f0f0f0;
        box-shadow: #c1c6d7 1px 1px 5px;
        border-radius: 10px 10px 0 0;
        font-size: 1.2em;
        color: #5d6974;
        font-weight: bold;
        margin-left: 10px;
        margin-right: 10px;
        padding: 5px 10px;
    }
</style>
{/block}
{block name="content_main"}
<section class="content">
    <div class="card card-primary card-outline" style="width: 95%">
        <!--  HEAD -->
        <div class="card-header">
            <h3 class="card-title">Video List</h3>
            <!-- SEARCH -->
            <div class="card-tools">
                <div class="input-group input-group-sm">
                    <input type="text" name="searchVideo" class="form-control" placeholder="Search Keyword">
                    <div class="input-group-append">
                        <div class="btn btn-primary">
                            <span onclick="searchVideo()"><i class="fa fa-search"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- TOOL -->
        <div class="card-body p-0">
            <div class="mailbox-controls">
                <!-- refresh button -->
                <button type="button" class="btn btn-default btn-sm" onclick="refreshVideoList()"><i class="fa fa-refresh"></i></button>
                <div class="float-right">
                    <div class="btn-group">
                        <button id="show-panel-button" type="button" class="btn btn-success btn-sm" onclick="showUploadPanel()">上传视频</button>
                        <button id="close-panel-button" type="button" class="btn btn-danger btn-sm" onclick="hideUploadPanel()" style="display: none;">关闭上传</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- 上传视频面板 -->
        <div id="upload-video-panel" class="card-body modal-body" style="display: none;">
            <div class="row">
                <div class="form-group mb-3 col-lg-6">
                    <label for="category-upload">视频分类</label>
                    <input type="text" class="form-control" id="category-upload" placeholder="请填写视频分类信息">
                    <div class="form-group mb-3" style="margin-top: 10px;" id="picker">选择视频</div>
                </div>
                <div class="col-lg-6 upload-video-info-panel" id="thelist">
                    <b id="video-name">视频名称：</b><br>
                    <b id="video-size">视频大小：</b><br>
                    <div class="progress active" style="margin-top: 10px;">
                        <div class="progress-bar bg-success  progress-striped" role="progressbar"
                             aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                             style="width: 0%;">
                        </div><b id="progress-text">准备中...</b>
                    </div>
                    <div id="upload-result-msg"></div>
                    <div class="row upload-video-button-group">
                        <button type="button" class="itemUpload btn btn-success btn-sm">开始</button>
                        <button type="button" class="itemStop btn btn-warning btn-sm">暂停</button>
                        <button type="button" class="itemDel btn btn-danger btn-sm">删除</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- 视频列表 -->
        {volist name='id_group' id='idg'}
            <div class="video-category">{$idg.detail}</div>
            <div id="videos-body">
                {volist name=":getVolistDataset($idg.id_count, $video_list)" id='video'}
                <div class="video-box" id="box_id">
                    <video preload="metadata">
                        <source src="http://localhost/{$video.path}#t=0" type="video/mp4">
                    </video>
                    <div class="video-mask" id="mask_id">
                        <div class="row">
                            <span class="video-play" id="play-{$video.id}" style="left: 20px;"><i class="fa fa-play-circle fa-3x"></i></span>
                            <span class="video-delete" id="delete-{$video.id}" style="right: 20px;"><i class="fa fa-trash fa-3x"></i></span>
                        </div>
                        <p class="video-detail">{$video.file_name}</p>
                        <p style="font-size: 0.9em">{$video.up_time}</p>
                    </div>
                </div>
                {/volist}
                <div {$hide} class="info-message"><p>暂时没有任何视频资源</p></div>
            </div>
        {/volist}
        <!-- 分页 -->
        <div class="card-footer p-0">
            <div class="mailbox-controls">
                <div class="float-right">
                    {$video_list->render()}
                </div>
                <!-- /.float-right -->
            </div>
        </div>
    </div>
</section>
<!-- 播放视频模态框 -->
<div class="modal fade" id="videoPlayer" tabindex="-1" role="dialog" aria-labelledby="videoPlayerLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body" style="background-color: #000000">
                <video style="width:100%;height: 480px;" width="640" height="480" controls></video>
            </div>
            <div class="modal-footer">
                <button name="submit" class="btn btn-info" onclick="playVideo()">播放</button>
                <button name="cancel" class="btn btn-default float-right" onclick="shutdownVideo()">关闭</button>
            </div>
        </div>
    </div>
</div>
{/block}
{block name="user_js"}
<!--引入JS-->
<script type="text/javascript" src="__ADMIN__/plugins/WebUploader/webuploader.js"></script>
<!--引入MD5-->
<script type="text/javascript" src="__ADMIN__/plugins/MD5/md5.js"></script>
<!--引入jquery.ellipsis-->
<script type="text/javascript" src="__ADMIN__/plugins/jquery-ellipsis/jquery.ellipsis.js"></script>
<script>
    const SWF_PATCH = '__ADMIN__/plugins/WebUploader/Uploader.swf';
    const SERVERURL = '/uploadVideo';
    const EXTENSIONS = '3gp,mp4,rmvb,mov,avi,m4v,mkv';
    const MIMETYPE = 'video/*,audio/*,application/*';
    var web_uploader_gl = null;

    // 超出两行显示省略号
    $('.video-detail').each(function () {
        var line_txt = $(this).text();
        line_txt = line_txt.length>19?line_txt.slice(0,19)+'...':line_txt;
        $(this).text(line_txt);
    })

    // 视频单元的遮罩控制
    $(document).ready(function () {
        $("#video-detail-line").ellipsis();
        $(".video-box").mouseover(function () {
            $(".video-mask", this).show();
        });
        $(".video-box").mouseout(function () {
            $(".video-mask", this).hide();
        });
    })
    
    // 显示上传面版
    function showUploadPanel() {
        $("#upload-video-panel").show();
        $("#close-panel-button").show();
        $("#show-panel-button").hide();
        if(!web_uploader_gl){
            initWebUploader();
        }
    }
    // 隐藏上传面版
    function hideUploadPanel() {
        $("#upload-video-panel").hide();
        $("#close-panel-button").hide();
        $(".upload-video-info-panel").hide();
        $("#show-panel-button").show();
        $("#category-upload").val("");
    }

    // 初始化WebUploader
    function initWebUploader () {
        console.log('this is init function')
        var chunkSize = 10 * 1024 * 1024;        //分块大小
        var uniqueFileName = null;          //文件唯一标识符
        var md5Mark = null;

        var _backEndUrl = SERVERURL; //后台接口地址

        WebUploader.Uploader.register({
            "before-send-file": "beforeSendFile"
            , "before-send": "beforeSend"
            , "after-send-file": "afterSendFile"
        }, {
            beforeSendFile: function(file){
                console.log('beforeSendFile::验证文件::md5mark')
                console.log(file);

                //秒传验证
                var task = new $.Deferred();
                var start = new Date().getTime();
                (new WebUploader.Uploader()).md5File(file, 0, 10*1024*1024).progress(function(percentage){
                    console.log('percentage:', percentage);
                }).then(function(val){

                    md5Mark = val;
                    console.log('md5mark', val);

                    $.ajax({
                        type: "POST",
                        url: _backEndUrl,
                        data: {
                            status: "md5Check",
                            md5: val
                        },
                        cache: false,
                        timeout: 1000, //todo 超时的话，只能认为该文件不曾上传过
                        dataType: "json"
                    }).then(function(data, textStatus, jqXHR){

                        if(data.ifExist){   //若存在，这返回失败给WebUploader，表明该文件不需要上传
                            task.reject();

                            uploader.skipFile(file);
                            file.path = data.path;
                            UploadComlate(file);
                        }else{
                            task.resolve();
                            //拿到上传文件的唯一名称，用于断点续传
                            uniqueFileName = hex_md5($('#detail').val()+start);
                        }
                    }, function(jqXHR, textStatus, errorThrown){    //任何形式的验证失败，都触发重新上传
                        task.resolve();
                        //拿到上传文件的唯一名称，用于断点续传
                        uniqueFileName = hex_md5($('#detail').val()+start);
                    });
                });
                return $.when(task);
            }
            , beforeSend: function(block){
                console.log('beforeSend::验证分片::chunkCheck')
                //分片验证是否已传过，用于断点续传
                var task = new $.Deferred();
                $.ajax({
                    type: "POST"
                    , url: _backEndUrl
                    , data: {
                        status: "chunkCheck"
                        , name: uniqueFileName
                        , chunkIndex: block.chunk
                        , size: block.end - block.start
                    }
                    , cache: false
                    , timeout: 1000 //todo 超时的话，只能认为该分片未上传过
                    , dataType: "json"
                }).then(function(data, textStatus, jqXHR){
                    if(data.ifExist){   //若存在，返回失败给WebUploader，表明该分块不需要上传
                        task.reject();
                    }else{
                        task.resolve();
                    }
                }, function(jqXHR, textStatus, errorThrown){    //任何形式的验证失败，都触发重新上传
                    task.resolve();
                });

                return $.when(task);
            }
            , afterSendFile: function(file){
                console.log('afterSendFile::完成上传')
                var chunksTotal = 0;
                if((chunksTotal = Math.ceil(file.size/chunkSize)) > 1){
                    //合并请求
                    var task = new $.Deferred();
                    $.ajax({
                        type: "POST"
                        , url: _backEndUrl
                        , data: {
                            status: "chunksMerge"
                            , name: uniqueFileName
                            , chunks: chunksTotal
                            , ext: file.ext
                            , md5: md5Mark
                            , detail: $('#category-upload').val()
                        }
                        , cache: false
                        , dataType: "json"
                    }).then(function(data, textStatus, jqXHR){
                        console.log('chunk merge', data);
                        //todo 检查响应是否正常
                        task.resolve();
                        file.path = data.flag;
                        UploadComlate(file);

                    }, function(jqXHR, textStatus, errorThrown){
                        task.reject();
                    });

                    return $.when(task);
                }else{
                    UploadComlate(file);
                }
            }
        });

        web_uploader_gl = new WebUploader.Uploader({
            swf: SWF_PATCH,
            server: _backEndUrl,     //服务器处理文件的路径
            pick: "#picker",        //指定选择文件的按钮，此处放的是id
            resize: false,
            // dnd: "#theList",        //上传文件的拖拽容器（即，如果选择用拖拽的方式选择文件进行上传，应该要把文件拖拽到的区域容器）
            // paste: document.body,   //[可选] [默认值：undefined]指定监听paste事件的容器，如果不指定，不启用此功能。此功能为通过粘贴来添加截屏的图片。建议设置为document.body
            // disableGlobalDnd: true, //[可选] [默认值：false]是否禁掉整个页面的拖拽功能，如果不禁用，图片拖进来的时候会默认被浏览器打开。
            compress: false, //是否压缩
            prepareNextFile: true, //预先准备下一个文件
            chunked: true, //是否启用分片
            chunkSize: chunkSize, //分片大小
            chunkRetry: 2, //[可选] [默认值：2]如果某个分片由于网络问题出错，允许自动重传多少次？
            threads: 1, //[可选] [默认值：3] 上传并发数。允许同时最大上传进程数。
            formData: {},
            fileNumLimit: 1,
            // fileSingleSizeLimit: 50 * 1024 * 1024,// 限制在50M
            duplicate: false, //去重，根据文件名、大小、修改时间生成hash key
            accept: {
                title: '大文件上传',  //文字描述
                extensions: EXTENSIONS,     //允许的文件后缀，不带点，多个用逗号分割。,jpg,png,
                mimeTypes: MIMETYPE,      //多个用逗号分割。image/*,
            },
        });

        /**
         * 验证文件格式以及文件大小
         */
        web_uploader_gl.on("error",function (type,handler){
            if (type=="Q_TYPE_DENIED"){
                console.log('请上传MP4格式的视频~');
                swal({
                    title:'',
                    text: '请上传MP4格式的视频~',
                    type: "warning",
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "我知道了",
                });
            }else if(type=="F_EXCEED_SIZE"){
                console.log('视频大小不能超过50M哦~');
                swal({
                    title:'',
                    text: '视频大小不能超过50M哦~',
                    type: "warning",
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "我知道了",
                });
            }
        });

        web_uploader_gl.on("fileQueued", function(file){
            console.log('fileQueued');
            $('#thelist').show();
            $("#video-name").text('视频名称：'+file.name);
            $("#video-size").text('视频大小：'+(file.size/1024/1024).toFixed(2)+'MB');
            // 按钮显示切换
            $('.itemStop').hide();
        });

        $('#picker').click(function () {
            web_uploader_gl.reset();
            $("#upload-result-msg").html("");
            $(".progress-bar").css("width","0%");
            $(".progress").find('#progress-text').text("准备中...");
            // 按钮显示切换
            $('.itemStop').hide();
            $('.itemUpload').show();
        })

        $("#thelist").on("click", ".itemUpload", function(){
            console.log('文件开始上传');
            web_uploader_gl.upload();

            // 按钮显示切换
            $('.itemUpload').hide();
            $('.itemStop').show();
        });

        $("#thelist").on("click", ".itemStop", function(){
            console.log('文件暂停上传');
            web_uploader_gl.stop(true);

            // 按钮显示切换
            $('.itemStop').hide();
            $('.itemUpload').show();
        });

        //todo 如果要删除的文件正在上传（包括暂停），则需要发送给后端一个请求用来清除服务器端的缓存文件
        $("#thelist").on("click", ".itemDel", function(file){
            web_uploader_gl.removeFile(file);	//从上传文件列表中删除
            $('.upload_li').remove();	//从上传列表dom中删除
        });

        //正在上传
        web_uploader_gl.on("uploadProgress", function(file, percentage){
            // console.log('uploader.on(uploadProgress::percentage', file);
            $(".progress-bar").css("width",percentage * 100 + "%");
            $(".progress").find('#progress-text').text(parseInt(percentage * 100) + "%");
        });
        //上传成功
        web_uploader_gl.on( 'uploadSuccess', function( file ) {
            console.log('uploader.on(uploadSuccess::');
            web_uploader_gl.removeFile(file);
            $('#upload-result-msg').css("color", "green")
            $("#upload-result-msg").html("<b>上传完毕！</b>")
            $(".progress-bar").css("width","100%");
        });
        //上传失败
        web_uploader_gl.on( 'uploadError', function( file, response ) {
            console.log('uploader.on(uploadError::', response);
            $('#upload-result-msg').css("color", "red")
            $("#upload-result-msg").html("<b>上传失败！</b>")
            $(".progress-bar").css("width","0%");
            $(".progress").find('#progress-text').text("准备中...");
        });
        //上传完成
        web_uploader_gl.on( 'uploadComplete', function( file , response) {
            console.log('uploader.on(uploadComplete::', response);
            web_uploader_gl.reset();
        });

        function UploadComlate(file){
            console.log('uploadComplete ',file);
            if(file && file.name && (file.path === 'S')){
                $('#upload-result-msg').css("color", "green")
                $("#upload-result-msg").html("<b>上传完毕！</b>")
            }else{
                $('#upload-result-msg').css("color", "red")
                $("#upload-result-msg").html("<b>上传失败！</b>")
            }
        }

        $("#close-panel-button").click(function () {
            web_uploader_gl.reset();
            console.log('注销uploeader=>',web_uploader_gl)
        })
    }

    // 搜索视频
    function searchVideo () {
        var kw = $("input[name='searchVideo']").val()
        console.log("keywords:", kw);
        if(!kw){
            swal('Oops！', '请输入正确的搜索关键词', 'warning');
        } else {
            window.location.href = '/admin/video_management/searchVideo?k='+kw;
        }
    }

    // 刷新视频列表
    function refreshVideoList() {
        window.location.href="/admin/video_management";
    }
    
    // 播放视频
    $(".video-play").click(function (e) {
        var cur_id = parseInt(e.currentTarget.id.replace(/[^0-9]/ig,""));
        console.log('e', cur_id);

        $("#videoPlayer").find("video").empty();

        $.ajax({
            type: 'post',
            url: '/getVideoByID',
            data: {id: cur_id},
            dataType: 'json',
            success: function (res) {
                if(res.flag === 'S'){
                    $("#videoPlayer").find("video").append('<source src="http://localhost/'+res.msg.path+'" type="video/mp4">');
                    $("#videoPlayer").modal('show');
                } else {
                    swal('Oops!', res.msg, 'info');
                }
            },
            error: function (err, tt, kk) {
                swal('发生错误', '原因:'+kk, 'error');
            }
        })

    })
    
    // 删除视频
    $(".video-delete").click(function (e) {
        var cur_id = parseInt(e.currentTarget.id.replace(/[^0-9]/ig,""));
        console.log('e', cur_id);
        swal({
            title: '删除确认',
            text: '您确定删除该视频',
            type: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Yes, delete it!',
            cancelButtonText: 'No, keep it',
        }).then(function(isConfirm) {
            if (isConfirm.value === true) {
                $.ajax({
                    type: 'post',
                    url: '/deleteVideoByID',
                    data: {id: cur_id},
                    dataType: 'json',
                    success: function (res) {
                        if (res.flag === 'S') {
                            swal({
                                title: '恭喜!',
                                text: res.msg,
                                type: 'success',
                                showCancelButton: false,
                                confirmButtonText: 'OK'
                            }).then(function (isConfirm) {
                                // console.log('isConfirm', isConfirm)
                                if (isConfirm.value) {
                                    // console.log('点击了确定');
                                    window.location.href = "/admin/video_management";
                                }
                            });
                        } else {
                            swal('Oops!', res.msg, 'info');
                        }
                    },
                    error: function (err, tt, kk) {
                        swal('发生错误', '原因:' + kk, 'error');
                    }
                });
            } else {
                swal('Cancelled', '取消删除该视频', 'info');
            }
        });
    })
    
    // 在模态框播放视频
    function playVideo() {
        console.log('play:', $(".modal-body video"))
        $(".modal-body video")[0].play();
    }
    // 在模态框关闭视频
    function shutdownVideo() {
        $(".modal-body video")[0].pause();
        $(".modal-body video").html('');
        $("#videoPlayer").modal('hide');
    }

</script>
{/block}