<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <title>超级用户管理界面</title>

  <link rel="stylesheet" href="__ADMIN__/plugins/sweetalert/css/sweetalert2.min.css">
  <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="__ADMIN__/plugins/sweetalert/js/sweetalert2.min.js"></script>

</head>
<body style="background-color: rgba(0,0,0,0.7)">
<!-- 页面标题 -->
<nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">超级用户管理界面</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> 返回</a></li>
    </ul>
  </div>
</nav>
<!-- 管理员列表 -->
<div class="list-group" style="width: 50%; margin-left: auto; margin-right: auto;">
  <a href="#" class="list-group-item active">
    <span class="badge" style="background-color: green; color: #fff;font-size: 1em;padding: 5px;">添加</span>
    <h4 class="list-group-item-heading">
      管理员列表
    </h4>
  </a>
  <a href="#" class="list-group-item">
    <span class="badge" style="background-color: red">删除</span>
    <h4 class="list-group-item-heading">
      管理员名
    </h4>
    <p class="list-group-item-text">
      上次登录系统时间：2018年12月20日 20:30:00
    </p>
  </a>
  <a href="#" class="list-group-item">
    <span class="badge" style="background-color: red">删除</span>
    <h4 class="list-group-item-heading">
      管理员名
    </h4>
    <p class="list-group-item-text">
      上次登录系统时间：2018年12月20日 20:30:00
    </p>
  </a>
  <a href="#" class="list-group-item">
    <span class="badge" style="background-color: red">删除</span>
    <h4 class="list-group-item-heading">
      管理员名
    </h4>
    <p class="list-group-item-text">
      上次登录系统时间：2018年12月20日 20:30:00
    </p>
  </a>
</div>
</body>
</html>
