{extend name="public/base" /}
{block name="user_css"}
<style>
    .over-text{
        text-overflow:ellipsis;overflow:hidden;white-space: nowrap;
    }
</style>
{/block}
{block name="content_main"}
<section class="content">
    <div class="card card-primary card-outline" style="width: 95%">
        <!--  HEAD -->
        <div class="card-header">
            <h3 class="card-title">Article List</h3>
            <!-- SEARCH -->
            <div class="card-tools">
                <div class="input-group input-group-sm">
                    <input type="text" name="searchArticle" class="form-control" placeholder="Search Keywords">
                    <div class="input-group-append">
                        <div class="btn btn-primary">
                            <span onclick="searchArticle()"><i class="fa fa-search"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- TOOL -->
        <div class="card-body p-0">
            <div class="mailbox-controls">
                <!-- Check all button -->
                <button type="button" class="btn btn-default btn-sm checkbox-toggle"><i class="fa fa-square-o"></i>
                </button>
                <!-- delete button -->
                <button type="button" class="btn btn-default btn-sm" onclick="deleteArticle()"><i class="fa fa-trash-o"></i></button>
                <!-- refresh button -->
                <button type="button" class="btn btn-default btn-sm" onclick="refreshArticleList()"><i class="fa fa-refresh"></i></button>
                <div class="float-right">
                    <div class="btn-group">
                        <button type="button" class="btn btn-success btn-sm" onclick="addNewArticle()">新建文章</button>
                    </div>
                </div>
            </div>
            <!-- LIST -->
            <div class="table-responsive mailbox-messages">
                <table class="table table-hover table-striped" style="table-layout: fixed">
                    <tbody id="user_list_tb">
                    <tr>
                        <th class="mailbox-subject" width="10%">选择</th>
                        <th class="mailbox-subject" width="25%">发布时间</th>
                        <th class="mailbox-subject" width="45%">文章标题</th>
                        <th class="mailbox-subject" width="20%">发布单位</th>
                    </tr>
                    {volist name='articles' id='article'}
                    <tr>
                        <td><input type="checkbox" value="{$article.id}"></td>
                        <td class="mailbox-subject"><p class="over-text">{$article.time}</p></td>
                        <td class="article-title-href" id="{$article.id}"><p class="over-text"><a id="article_id" href="#"><b>{$article.title}</b></a></p></td>
                        <td class="mailbox-subject"><p class="over-text">{$article.level1}</p></td>
                    </tr>
                    {/volist}
                    </tbody>
                </table>
                <!-- /.table -->
            </div>
            <!-- /.mail-box-messages -->

        </div>
        <!-- /.card-body -->
        <!-- 分页 -->
        <div class="card-footer p-0">
            <div class="mailbox-controls">
                <div class="float-right">
                    {$articles->render()}
                </div>
                <!-- /.float-right -->
            </div>
        </div>
    </div>
</section>
<!-- 查看文章详情模态框 -->
<div class="modal fade" id="articleDetailModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="card card-primary modal-content">
            <div class="card-header modal-header">
                <h3 class="card-title" id="article_title"></h3>
            </div>
            <div class="card-body modal-body" id="article_content">
                <div id="editor"><p>This is some sample content.</p></div>
            </div>
            <!-- /.card-body -->
            <div class="card-footer modal-footer">
                <button name="cancel" class="btn btn-info" data-dismiss="modal">确定</button>
                <button name="modify" class="btn btn-danger float-right" data-dismiss="modal" onclick="gotoModify()">修改</button>
            </div>
        </div>
    </div>
</div>
{/block}
{block name="user_js"}
<script src="__ADMIN__/plugins/ckeditor5-build-balloon/ckeditor.js"></script>
<script>
    var article_id = null;
    var balloon_editor = null;
    document.addEventListener("DOMContentLoaded", function(event) {
        balloon_editor = BalloonEditor
            .create( document.querySelector( '#editor' ))
            .then( newEditor => {
            balloon_editor = newEditor;
            } )
            .catch( error => {
            console.error( error );
        });
    });

    // 列表内选择框
    $('.mailbox-messages input[type="checkbox"]').iCheck({
        checkboxClass: 'icheckbox_flat-blue',
        radioClass   : 'iradio_flat-blue'
    })
    // 全选
    $('.checkbox-toggle').click(function () {
        var clicks = $(this).data('clicks')
        if (clicks) {
            //Uncheck all checkboxes
            $('.mailbox-messages input[type=\'checkbox\']').iCheck('uncheck')
            $('.fa', this).removeClass('fa-check-square-o').addClass('fa-square-o')
        } else {
            //Check all checkboxes
            $('.mailbox-messages input[type=\'checkbox\']').iCheck('check')
            $('.fa', this).removeClass('fa-square-o').addClass('fa-check-square-o')
        }
        $(this).data('clicks', !clicks)
    })

    // 显示某ID视频信息
    $('.article-title-href').click(function (e) {
        var a_id = e.currentTarget.id;
        // console.log(e.currentTarget.id, balloon_editor.getData())
        $('#article_title').empty();
        $.ajax({
            type: 'post',
            url: '/getArticleWithID',
            data: {'aid': a_id},
            dataType: 'json',
            success: function (res) {
                // console.log(res);
                if(res.flag === 'S'){
                    article_id = a_id;
                    $('#articleDetailModal').modal('show');
                    $('#article_title').append(res.msg.title);
                    balloon_editor.setData(res.msg.content);
                } else {
                    article_id = null;
                    swal('Oops!', res.msg, 'info');
                }
            },
            error: function (err, zt, yy) {
                article_id = null;
                // console.log(err);
                swal('发生错误', JSON.stringify(err), 'error');
            }
        });
    });

    // 跳转至修改文章界面
    function gotoModify(){
        // swal('console log', 'article_id:' + article_id, 'success');
        if(article_id != null){
            // swal('console log', 'toUrl:'+toUrl, 'success');
            window.location.href = '/admin/new_article?aid='+article_id;
        }
    }

    // 删除文章
    function deleteArticle(){
        var checkedActivities = $('input[type=checkbox]:checked');
        var checkedID = new Array();
        $.each(checkedActivities, function () {
            checkedID.push($(this).val());
        });
        console.log(checkedID);
        if (checkedID.length < 1){
            alert('请选择要删除的用户');
        } else {
            $.ajax({
                type: 'post',
                url: '/deleteArticlesByIds',
                data: {'aids':checkedID},
                dataType: 'json',
                success: function (res) {
                    if (res['flag'] === 'S'){
                        swal({
                            title: '恭喜！',
                            text: res.msg,
                            type: 'success',
                            showCancelButton: false
                        }).then(function (isConfirm) {
                            if(isConfirm.value){
                                window.location.href = "/admin/article_management";
                            }
                        })
                    } else {
                        swal('Oops!',res['msg'], 'info');
                    }
                },
                error: function (err, tt, kk) {
                    swal('发生错误', '原因:'+kk, 'error');
                }
            })
        }
    }

    // 刷新文章列表
    function refreshArticleList() {
        window.location.href = "/admin/article_management";
    }

    // 新建文章
    function addNewArticle() {
        window.location.href = "/admin/new_article";
    }

    // 搜索文章
    function searchArticle() {
        var key = $("input[ name='searchArticle']").val();
        if (key) {
            window.location.href="/admin/article_management/searchArticle?key="+key;
        } else {
            swal('Oops!', '请输入正确的活动主题关键字', 'info');
        }
    }
</script>
{/block}