{extend name="public/base" /}
{block name="user_css"}
{/block}
{block name="content_main"}
<section class="content"  style="width: 90%;margin-left: 2%;">
    <form id="article_form" role="form">
        <div class="row">
            <div class="col-lg-6">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">标题</span>
                    </div>
                    <input type="text" class="form-control" id="title" name="title" placeholder="请输入文章标题" value="{$article.title}">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="input-group mb-3">
                    <div class="input-group">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="coverImage" name="file" accept="image/*">
                            <label class="custom-file-label" for="coverImage" id="coverImageLabel">{$article.cover?$article.cover:'请选择需要上传的文章封面'}</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">发布单位</span>
                    </div>
                    <input type="text" class="form-control" id="level1" name="level1" placeholder="请输入发布单位全称" value="{$article.level1}">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">文章分类</span>
                    </div>
                    <select class="form-control" id="level2-select" name ="level2_s" {$select_hidden}></select>
                    <input {$input_hidden} type="text" class="form-control" id="level2-input" name="level2_i" placeholder="请输入文章所属类别" value="{$article.level2}">
                </div>
            </div>
        </div>
        <!-- CkKeditor -->

        <div class="document-editor">
            <div id="toolbar-container"></div>
            <div id="ckeditor">
                <div>
                    {$article.content}
                </div>
            </div>
        </div>
    </form>
    <br/>
    <button name="submit" class="btn btn-primary" onclick="addNewArticle()">发布</button>
    <button name="cancel" class="btn btn-danger" onclick="#">取消</button>
</section>
{/block}
{block name="user_js"}
<script src="__ADMIN__/plugins/ckeditor5-build-decoupled-document/ckeditor.js"></script>
<script src="__ADMIN__/pluhins/photoCompresser/PhotoCompresser.js"></script>
<script>
    var category_of_article = JSON.parse('{$category}');
    var ckeditor;
    var upload_url_cke = 'http://localhsot';
    const web_head = '<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />';
    // 富文本编辑器
    document.addEventListener("DOMContentLoaded", function(event){
        console.log("DOM fully loaded and parsed");
        DecoupledEditor
            .create(document.querySelector('#ckeditor'), {
                ckfinder: {
                    uploadUrl: upload_url_cke + '/uploadImage'
                }
            })
            .then(
                editor_ => {const toolbarContainer = document.querySelector( '#toolbar-container' );
        toolbarContainer.appendChild( editor_.ui.view.toolbar.element );
        ckeditor = editor_;})
    .catch(
            error => {console.error( error );}
    );
    });
    // 获取分类列表
    $(function () {
        $("#level2-select").empty();
        $('#level2-select').append("<option value='"+0+"'>请选择</option>");
        // console.log(category_of_article);
        for (var category in category_of_article){
            // console.log('category', category);
            $('#level2-select').append("<option value='"+category_of_article[category]['level2']+"'>"+category_of_article[category]['level2']+"</option>");
        }
    });
    // 获取封面文件路径
    $('#coverImage[type="file"]').change(function () {
        var coverFiles = $('#coverImage[type="file"]')[0].files[0];
        $('#coverImageLabel').html(coverFiles.name);
        console.log(coverFiles);
    });
    // 添加新文章
    function addNewArticle() {
        // console.log('add new article', true);
        var null_msg = '';
        var d = {};
        var t = $('#article_form').serializeArray();
        var data = '';
        var fd = new FormData();

        const ckeditor_data = ckeditor.getData();
        // console.log('ckeditor:', ckeditor_data)
        if (ckeditor_data != "<p>&nbsp;</p>"){
            console.log('bu deng yu')
            data = ckeditor_data;
        }
        $.each(t, function () {
            if(this.value.length>1){
                if(this.name == 'level2_i' || this.name == 'level2_s'){
                    d['level2'] = this.value;
                    fd.append('level2', this.value);
                } else if(this.name == 'file') {
                    console.log('cover get ')
                } else {
                    d[this.name] = this.value;
                    fd.append(this.name, this.value);
                }
            } else {
                if(this.name == 'level2_i' || this.name== 'level2_s'){
                } else {
                    null_msg += this.name + '不能为空;';
                }
            }
        });
        if(d['level2']){}else{null_msg += '文章分类不能为空;'}
        if(data.length>1){
            d['content'] = web_head + data;
            fd.append('content', web_head+data);
        } else {
            null_msg += 'ckdata不能为空;'
        }
        if (null_msg.length>=4){
            swal('Oops!', null_msg, 'warning');
            // console.log(new Array(d));
        } else {
            d['time'] = formDate();
            fd.append('time', formDate());
            fd.append('cover', $('#coverImage[type="file"]')[0].files[0]);
            console.log(d);
            $.ajax({
                type: 'post',
                url: '/insertArticle',
                data: fd,
                dataType: 'json',
                contentType: false, // 注意这里应设为false
                processData: false,
                cache: false,
                success: function (res) {
                    // console.log('后台返回数据',res)
                    if(res.flag === 'S'){
                        swal('恭喜！', res.msg, 'success', 'OK');
                    } else {
                        swal('Oops!', res.msg, 'info');
                        console.log(res);
                    }
                },
                error: function (err, zt, yy) {
                    swal('发生错误', JSON.stringify(err), 'error');
                }
            });
        }
    }

    // 格式化当前时间
    function formDate() {
        var date = new Date();
        var yy = date.getFullYear() + '-';
        var MM = (date.getMonth()+1 < 10 ? '0'+(date.getMonth()+1) : date.getMonth()+1) + '-';
        var dd = date.getDate()<10? ('0'+(date.getDate())+' '):(date.getDate() + ' ');
        var HH = date.getHours() + ':';
        var mm = date.getMinutes() + ':';
        var ss = date.getSeconds();
        return yy+MM+dd+HH+mm+ss;
    }
    /*
        // 自定义上传适配器
        class UploadAdapter {
            constructor(loader) {
                this.loader = loader;
            }
            upload() {
                return new Promise((resolve, reject) => {
                    var file = this.loader.file;
                uploadImageFile(this.loader.file, function (data) {
                    $.ajax({
                        url: '/uploadImage',
                        type: 'POST',
                        data: data,
                        dataType: 'json',
                        processData: false,
                        contentType: false,
                        success: function (data) {
                            console.log(data);
                            if (data.res) {
                                resolve({
                                    default: data.url
                                });
                            } else {
                                reject(data.msg);
                            }
                        }
                    });
                });
            });
            }
            abort() {
            }
        }
        // 加载适配器
        ckeditor.plugins.get('FileRepository').createUploadAdapter = (loader)=>{
            return new UploadAdapter(loader);
        };
    */

</script>
{/block}