{extend name='public/base' /}
{block name="user_css"}
{/block}
{block name='content_main'}
<section class="content">
    <div class="row">
        <!-- USER LIST -->
        <div class="col-md-9">
            <div class="card card-primary card-outline">
                <!--  HEAD -->
                <div class="card-header">
                    <h3 class="card-title">Exam List</h3>
                    <!-- SEARCH -->
                    <div class="card-tools">
                        <div class="input-group input-group-sm">
                            <input type="text" name="searchUser" class="form-control" placeholder="Search Keywords">
                            <div class="input-group-append">
                                <div class="btn btn-primary">
                                    <span onclick="searchForUser()"><i class="fa fa-search"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- TOOL -->
                <div class="card-body p-0">
                    <div class="mailbox-controls">
                        <!-- Check all button -->
                        <button type="button" class="btn btn-default btn-sm checkbox-toggle"><i class="fa fa-square-o"></i>
                        </button>
                        <!-- delete button -->
                        <button type="button" class="btn btn-default btn-sm" onclick="deleteExam()"><i class="fa fa-trash-o"></i></button>
                        <!-- refresh button -->
                        <button type="button" class="btn btn-default btn-sm" onclick="refreshExamList()"><i class="fa fa-refresh"></i></button>
                        <div class="float-right">
                            <div class="btn-group">
                                <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#addModal">添加试题</button>
                            </div>
                        </div>
                    </div>
                    <!-- LIST -->
                    <div class="table-responsive mailbox-messages">
                        <table class="table table-hover table-striped" style="table-layout: fixed">
                            <tbody id="user_list_tb">
                            <tr>
                                <th class="mailbox-subject" width="10%">选择</th>
                                <th class="mailbox-subject" width="8%">ID</a></th>
                                <th class="mailbox-subject" width="10%">分类</th>
                                <th class="mailbox-subject" width="20%">问题</th>
                                <th class="mailbox-subject" width="13%">A</th>
                                <th class="mailbox-subject" width="13%">B</th>
                                <th class="mailbox-subject" width="13%">C</th>
                                <th class="mailbox-subject" width="13%">D</th>
                            </tr>
                            {volist name='exams' id='exam'}
                            <tr>
                                <td><input type="checkbox" value="{$exam.id}"></td>
                                <td class="mailbox-name"><p style="text-overflow:ellipsis;overflow:hidden;white-space: nowrap;"><a id="exam_id" href="#"><b>{$exam.id}</b></a></p></td>
                                <td class="mailbox-subject"><p style="text-overflow:ellipsis;overflow:hidden;white-space: nowrap;">{$exam.category}</p></td>
                                <td class="mailbox-subject"><p style="text-overflow:ellipsis;overflow:hidden;white-space: nowrap;">{$exam.question}</p></td>
                                <td class="mailbox-subject"><p style="text-overflow:ellipsis;overflow:hidden;white-space: nowrap;">{$exam.item1}</p></td>
                                <td class="mailbox-subject"><p style="text-overflow:ellipsis;overflow:hidden;white-space: nowrap;">{$exam.item2}</p></td>
                                <td class="mailbox-subject"><p style="text-overflow:ellipsis;overflow:hidden;white-space: nowrap;">{$exam.item3}</p></td>
                                <td class="mailbox-subject"><p style="text-overflow:ellipsis;overflow:hidden;white-space: nowrap;">{$exam.item4}</p></td>
                            </tr>
                            {/volist}
                            </tbody>
                        </table>
                        <!-- /.table -->
                    </div>
                    <!-- /.mail-box-messages -->
                </div>
                <!-- /.card-body -->
                <div class="card-footer p-0">
                    <div class="mailbox-controls">
                        <div class="float-right">
                            {$exams->render()}
                        </div>
                        <!-- /.float-right -->
                    </div>
                </div>
            </div>
            <!-- /. box -->
        </div>
        <!-- /.col -->
        <!-- 右边试题详情卡 -->
        <div class="col-md-3">
            <!-- Profile Image -->
            <div id="exam_right_card" class="card card-primary card-outline" style="display: none">
                <div class="card-body box-profile">
                    <div class="row">
                        <div class="col-lg-6">
                            <b>编号：</b><span id="examid">XXXX</span>
                        </div>
                        <div class="col-lg-6">
                            <b>分类：</b><span id="examcategory">XXXX</span>
                        </div>
                    </div>
                    <hr>
                    <strong>Question:</strong><br>
                    <p class="text-muted" id="examquestion">
                        获得五四表彰先进个人奖
                    </p>
                    <div class="row">
                        <div class="col-lg-6">
                            <span id="exama">A. XXXX</span>
                        </div>
                        <div class="col-lg-6">
                            <span id="examb">B. XXXX</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <span id="examc">C. XXXX</span>
                        </div>
                        <div class="col-lg-6">
                            <span id="examd">D. XXXX</span>
                        </div>
                    </div>
                    <hr>
                    <strong>Answer:</strong><br>
                    <span id="examanswer">D. XXXX</span>
                    <hr>
                    <a href="#" class="btn btn-primary btn-block" data-toggle="modal" data-target="#updateModal"><b>修改</b></a>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
    </div>
    <!-- /.row -->
</section>
<!-- 修改试题详情模态框 -->
<div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="updateModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="card card-primary modal-content">
            <div class="card-header modal-header">
                <h3 class="card-title">修改试题</h3>
            </div>
            <form id="updateform" role="form">
                <div class="card-body modal-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group mb-3">
                                <label for="id-update">编号</label>
                                <input type="text" class="form-control" id="id-update" name="id" disabled>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group mb-3">
                                <label for="category-update">分类</label>
                                <select class="form-control" id="category-update" name="category">
                                    <option>请选择</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group mb-3">
                        <label>问题描述</label>
                        <textarea class="form-control" rows="3" id="question-update" name="question" placeholder="请填写问题描述 ..."></textarea>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            A. <input type="text" class="form-control" id="item1-update" name="item1" placeholder="请填写选项1的内容">
                        </div>
                        <div class="col-lg-6">
                            B. <input type="text" class="form-control" id="item2-update" name="item2" placeholder="请填写选项2的内容">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            C. <input type="text" class="form-control" id="item3-update" name="item3" placeholder="请填写选项3的内容">
                        </div>
                        <div class="col-lg-6">
                            D. <input type="text" class="form-control" id="item4-update" name="item4" placeholder="请填写选项4的内容">
                        </div>
                    </div>
                    <div class="form-group mb-3">
                        <label>答案</label>
                        <select class="form-control" id="answer-update" name="answer">
                            <option>请选择</option>
                        </select>
                    </div>
                </div>
            </form>
            <!-- /.card-body -->
            <div class="card-footer modal-footer">
                <button name="submit" class="btn btn-info" onclick="updateExam()">修改</button>
                <button name="cancel" class="btn btn-default float-right" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>
<!-- 添加试题模态框 -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="card card-primary modal-content">
            <div class="card-header modal-header">
                <h3 class="card-title">添加试题</h3>
            </div>
            <form id="addform" role="form">
                <div class="card-body modal-body">
                    <div class="form-group mb-3">
                        <label>分类</label>
                        <select class="form-control" id="category-add" name="category"></select>
                    </div>
                    <div class="form-group mb-3">
                        <label>问题描述</label>
                        <textarea class="form-control" rows="3" id="question-add" name="question" placeholder="请填写问题描述 ..."></textarea>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            A. <input type="text" class="form-control" id="item1-add" name="item1" placeholder="请填写选项1的内容">
                        </div>
                        <div class="col-lg-6">
                            B. <input type="text" class="form-control" id="item2-add" name="item2" placeholder="请填写选项2的内容">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            C. <input type="text" class="form-control" id="item3-add" name="item3" placeholder="请填写选项3的内容">
                        </div>
                        <div class="col-lg-6">
                            D. <input type="text" class="form-control" id="item4-add" name="item4" placeholder="请填写选项4的内容">
                        </div>
                    </div>
                    <div class="form-group mb-3">
                        <label>答案</label>
                        <select class="form-control" id="answer-add" name="answer">
                            <option value="0">请选择</option>
                        </select>
                    </div>
                </div>
            </form>
            <!-- /.card-body -->
            <div class="card-footer modal-footer">
                <button name="submit" class="btn btn-info" onclick="addQuestion()">添加</button>
                <button name="cancel" class="btn btn-default float-right" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>
{/block}
{block name='user_js'}
<script>
var exam_global = null;
var exam_category = null;
var exam_id = 0;
    exam_category = JSON.parse('{$category}');
    // console.log(exam_category)
    // 列表内选择框
    $('.mailbox-messages input[type="checkbox"]').iCheck({
        checkboxClass: 'icheckbox_flat-blue',
        radioClass   : 'iradio_flat-blue'
    })
    // 全选
    $('.checkbox-toggle').click(function () {
        var clicks = $(this).data('clicks')
        if (clicks) {
            //Uncheck all checkboxes
            $('.mailbox-messages input[type=\'checkbox\']').iCheck('uncheck')
            $('.fa', this).removeClass('fa-check-square-o').addClass('fa-square-o')
        } else {
            //Check all checkboxes
            $('.mailbox-messages input[type=\'checkbox\']').iCheck('check')
            $('.fa', this).removeClass('fa-square-o').addClass('fa-check-square-o')
        }
        $(this).data('clicks', !clicks)
    })
    // 显示试题详情
    $('.mailbox-name').click(function (e) {
        e.preventDefault();
        $('#exam_right_card').show();
        var exam_id = e.target.outerText;
        // console.log(exam_id);
        $.ajax({
            type: 'post',
            url: '/getExamWithID',
            data: {'id':exam_id},
            dataType: 'json',
            success: function (data) {
                // console.log(data['data']);
                var exam = data['data'];
                exam_global = exam;
                exam_category = data['category'];
                var examid = (exam.id != null && exam.id>=1)?exam.id:'暂无';
                var examcategory = (exam.category != null && (exam.category).length>=1)?exam.category:'暂无';
                var examquestion = (exam.question != null && (exam.question).length>=1)?exam.question:'暂无';
                var exama = (exam.item1 != null && (exam.item1).length>=1)?'<b>A.</b> '+exam.item1:'';
                var examb = (exam.item2 != null && (exam.item2).length>=1)?'<b>B.</b> '+exam.item2:'';
                var examc = (exam.item3 != null && (exam.item3).length>=1)?'<b>C.</b> '+exam.item3:'';
                var examd = (exam.item4 != null && (exam.item4).length>=1)?'<b>D.</b> '+exam.item4:'';
                var examanswer = (exam.answer != null && (exam.answer).length>=1)?exam.answer:'无解';

                $('#examid').html(examid);
                $('#examcategory').html(examcategory);
                $('#examquestion').html(examquestion);
                $('#exama').html(exama);
                $('#examb').html(examb);
                $('#examc').html(examc);
                $('#examd').html(examd);
                $('#examanswer').html(examanswer);
            },
            error: function (err, tt, kk) {
                alert('出现错误:'+JSON.stringify(err)+' 状态:'+tt+' 原因:'+kk);
            }
        })
    })
    // 自动填充待修改内容
    $('#updateModal').on('show.bs.modal', function (e) {
        $('#exam_right_card').hide();
        $(this).removeData('model')
        var modal = $(this);
        exam_id = exam_global['id']!=null?exam_global['id']:null;
        modal.find('#id-update').val(exam_id);
        $('#category-update').empty();
        $('#category-update').append("<option value='"+0+"'>请选择</option>");
        // console.log(exam_category);
        for (var category in exam_category){
            $('#category-update').append("<option value='"+exam_category[category]+"'>"+exam_category[category]+"</option>");
        }
        $("#category-update option[value='"+(exam_global['category']!=null?exam_global['category']:null)+"']").attr("selected", "selected");
        modal.find('#question-update').val(exam_global['question']!=null?exam_global['question']:null);
        modal.find('#item1-update').val(exam_global['item1']!=null?exam_global['item1']:null);
        modal.find('#item2-update').val(exam_global['item2']!=null?exam_global['item2']:null);
        modal.find('#item3-update').val(exam_global['item3']!=null?exam_global['item3']:null);
        modal.find('#item4-update').val(exam_global['item4']!=null?exam_global['item4']:null);
        $('#answer-update').empty();
        $("#answer-update").append("<option value='"+0+"'>请选择</option>");
        if (exam_global['item1']!=null){
            $("#answer-update").append("<option value='"+(exam_global['item1'])+"'>"+(exam_global['item1'])+"</option>");
        }
        if (exam_global['item2']!=null){
            $("#answer-update").append("<option value='"+(exam_global['item2'])+"'>"+(exam_global['item2'])+"</option>");
        }
        if (exam_global['item3']!=null){
            $("#answer-update").append("<option value='"+(exam_global['item3'])+"'>"+(exam_global['item3'])+"</option>");
        }
        if (exam_global['item4']!=null){
            $("#answer-update").append("<option value='"+(exam_global['item4'])+"'>"+(exam_global['item4'])+"</option>");
        }
        $("#answer-update option[value='"+(exam_global['answer']!=null?exam_global['answer']:null)+"']").attr("selected", "selected");
    })
    // 自动填充添加试题界面分类情况
    $('#addModal').on('show.bs.modal', function () {
        $(this).removeData('model')
        var modal = $(this);
        $('#category-add').empty();
        $('#category-add').append("<option value='"+0+"'>请选择</option>");
        // console.log(exam_category);
        for (var category in exam_category){
            $('#category-add').append("<option value='"+category+"'>"+exam_category[category]+"</option>");
        }
    })
    // 动态刷新答案选择框内容
    $('.modal-content input[type="text"]').change(function (e) {
        var thisID = $(this).attr('id');
        var thisSelect = null;
        var thisMsg = null;
        if(thisID.indexOf("-update") >= 0){
            thisSelect = $('#answer-update');
            thisMsg = "-update";
            console.log('updateModal');
        } else if(thisID.indexOf("-add") >= 0) {
            thisSelect = $('#answer-add');
            thisMsg = "-add";
            console.log('addModal');
        }
        if(thisSelect !== null){
            thisSelect.empty();
            thisSelect.append("<option value='"+0+"'>请选择</option>");
            if ($('#item1'+thisMsg).val()!=null){
                thisSelect.append("<option value='"+($('#item1'+thisMsg).val())+"'>"+($('#item1'+thisMsg).val())+"</option>");
            }
            if ($('#item2'+thisMsg).val()!=null){
                thisSelect.append("<option value='"+($('#item2'+thisMsg).val())+"'>"+($('#item2'+thisMsg).val())+"</option>");
            }
            if ($('#item3'+thisMsg).val()!=null){
                thisSelect.append("<option value='"+($('#item3'+thisMsg).val())+"'>"+($('#item3'+thisMsg).val())+"</option>");
            }
            if ($('#item4'+thisMsg).val()!=null){
                thisSelect.append("<option value='"+($('#item4'+thisMsg).val())+"'>"+($('#item4'+thisMsg).val())+"</option>");
            }
            if(thisMsg === "-update"){
                $("#answer-update option[value='"+(exam_global['answer']!=null?exam_global['answer']:null)+"']").attr("selected", "selected");
            }
        }

    })
    // 修改试题详情
    function updateExam() {
        var d = {};
        d['id'] = exam_id;
        var t = $('#updateform').serializeArray();
        $.each(t, function () {
            if (this.value.length >= 1){
                d[this.name] = this.value;
            } else {
                d[this.name] = null;
            }
        });
        // console.log(d);
        var updateArray = new Array();
        updateArray.push(d);
        $.ajax({
            type: 'post',
            url: '/updateExam',
            data: {'data':updateArray},
            dateType: 'json',
            success: function (data) {
                if(data['flag'] === 'S'){
                    alert(data['msg']);
                    $('#updateModal').modal('hide');
                };
            },
            error: function (err, tt, kk) {
                alert('出现错误:'+JSON.stringify(err)+' 状态:'+tt+' 原因:'+kk);
            }
        });
    }
    // 刷新界面
    function refreshExamList() {
        window.location.href = "/admin/exam_management";
    }
    // 删除试题
    function deleteExam() {
        var checkedUsers = $('input[type=checkbox]:checked');
        var checkedID = new Array();
        $.each(checkedUsers, function () {
            checkedID.push(parseInt($(this).val()));
        });
        console.log(checkedID);
        if (checkedID.length < 1){
            alert('请选择要删除的试题');
        } else {
            $.ajax({
                type: 'post',
                url: '/deleteQuestion',
                data: {'ids':checkedID},
                dataType: 'json',
                success: function (data) {
                    if (data['flag'] === 'S'){
                        alert(data['msg']);
                        window.location.href = "/admin/exam_management";
                    } else {
                        alert('用户数据删除失败');
                    }
                },
                error: function (err, tt, kk) {
                    alert('出现错误:'+JSON.stringify(err)+' 状态:'+tt+' 原因:'+kk);
                }
            })
        }
    }
    // 添加试题
    function addQuestion() {
        var d = {};
        var t = $('#addform').serializeArray();
        $.each(t, function () {
            if (this.value.length >= 1){
                if (this.name === 'category') d[this.name] = parseInt(this.value);
                else d[this.name] = this.value;
            } else {
                d[this.name] = null;
            }
        });
        // console.log(d);
        if (d['category'] === 0){
            alert('请选择试题分类');
        } else if(d['question'] === null){
            alert('问题描述不能为空');
        } else if (d['answer'] === "0"){
            alert('答案不能为空')
        } else {
            var addArray = new Array();
            addArray.push(d);
            console.log(addArray)
            $.ajax({
                type: 'post',
                url: '/insertQuestion',
                data: {'data': addArray},
                dataType: 'json',
                success: function (data) {
                    if (data['flag'] === 'S'){
                        alert(data['msg']);
                        $('#addModal').modal('hide');
                    }
                },
                error: function (err, zt, yy) {
                    alert('出现错误:'+JSON.stringify(err)+' 状态:'+zk+' 原因:'+yy);
                }

            })
        }
    }
</script>
{/block}