{extend name="public/base" /}
{block name="content_header"}
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>党员信息管理</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">首页</a></li>
          <li class="breadcrumb-item active">党员信息管理</li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>
{/block}
{block name="content_main"}
<section class="content">
  <div class="row">
    <!-- USER LIST -->
    <div class="col-md-9">
      <div class="card card-primary card-outline">
        <!--  HEAD -->
        <div class="card-header">
          <h3 class="card-title">User List</h3>
          <!-- SEARCH -->
          <div class="card-tools">
            <div class="input-group input-group-sm">
              <input type="text" name="searchUser" class="form-control" placeholder="Search ID or Name">
              <div class="input-group-append">
                <div class="btn btn-primary">
                  <span onclick="searchForUser()"><i class="fa fa-search"></i></span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- TOOL -->
        <div class="card-body p-0">
          <div class="mailbox-controls">
            <!-- Check all button -->
            <button type="button" class="btn btn-default btn-sm checkbox-toggle"><i class="fa fa-square-o"></i>
            </button>
            <!-- delete button -->
            <button type="button" class="btn btn-default btn-sm"><i class="fa fa-trash-o"></i></button>
            <!-- refresh button -->
            <button type="button" class="btn btn-default btn-sm" onclick="refreshUserList()"><i class="fa fa-refresh"></i></button>
            <div class="float-right">
              <div class="btn-group">
                <button type="button" class="btn btn-primary btn-sm">批量添加</button>
                <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#addOneModal">单个添加</button>
              </div>
            </div>
          </div>
          <!-- LIST -->
          <div class="table-responsive mailbox-messages">
            <table class="table table-hover table-striped">
              <tbody id="user_list_tb">
              <tr>
                <td>选择</td>
                <td class="mailbox-name">账号</a></td>
                <td class="mailbox-subject">姓名</td>
                <td class="mailbox-attachment">状态</td>
                <td class="mailbox-date">openID</td>
              </tr>
              {volist name='users' id='user'}
              <tr>
                <td><input type="checkbox"></td>
                <td class="mailbox-name"><a id="user_id" href="#">{$user.id}</a></td>
                <td class="mailbox-subject"><b>{$user.name}</b></td>
                <td class="mailbox-attachment">{$user.stage}</td>
                <td class="mailbox-date">{$user.openID}</td>
              </tr>
              {/volist}
              </tbody>
            </table>
            <!-- /.table -->
          </div>
          <!-- /.mail-box-messages -->
        </div>
        <!-- /.card-body -->
        <div class="card-footer p-0">
          <div class="mailbox-controls">
            <div class="float-right">
              {$users->render()}
            </div>
            <!-- /.float-right -->
          </div>
        </div>
      </div>
      <!-- /. box -->
    </div>
    <!-- /.col -->
    <!-- 右边个人资料卡 -->
    <div class="col-md-3">
      <!-- Profile Image -->
      <div id="user_right_card" class="card card-primary card-outline" style="display: none">
        <div class="card-body box-profile">
          <div class="text-center">
            <img class="profile-user-img img-fluid img-circle"
                 src="__ADMIN__/dist/img/user4-128x128.png"
                 alt="User profile picture">
          </div>
          <h3 class="profile-username text-center" id="username">姓名</h3>
          <p class="text-muted text-center" id="userstage">所处状态|该状态的时间</p>
          <p class="text-muted text-center" id="userbranch">总支部--支部</p>
          <ul class="list-group list-group-unbordered mb-3">
            <li class="list-group-item">
              <b>账号：</b> <a class="float-right" id="userid">----------</a>
            </li>
            <li class="list-group-item">
              <b>性别：</b><a id="usersex">--</a><a class="float-right" id="usernation">--</a><b class="float-right">民族：</b>
            </li>
            <li class="list-group-item">
              <b>生日：</b> <a class="float-right" id="userbirthday">XXXX-XX-XX</a>
            </li>
          </ul>
          <h3 class="card-title">个人经历</h3>
          <!-- /.card-header -->
          <div class="card-body">
            <strong><i class="fa fa-clock-o mr-1"></i> 时间轴</strong>
            <p class="text-muted">
              入团时间：<span id="userleaguetime">XXXX-XX-XX</span><br>
              入党申请时间：<span id="userpartyapplytime">XXXX-XX-XX</span>
            </p>
            <hr>
            <strong><i class="fa fa-pencil mr-1"></i> 个人荣誉</strong>
            <p class="text-muted" id="userhonor">
              获得五四表彰先进个人奖
            </p>
          </div>
          <a href="#" class="btn btn-primary btn-block"><b>修改</b></a>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
  </div>
  <!-- /.row -->
</section>
<!-- 添加用户弹窗 -->
<div class="modal fade" id="addOneModal" tabindex="-1" role="dialog" aria-labelledby="addOneModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="card card-primary modal-content">
        <div class="card-header modal-header">
          <h3 class="card-title">添加用户信息</h3>
        </div>
        <form id="addoneform" role="form" style="background-color: #FFFFFF">
          <div class="card-body modal-body">
            <div class="form-group mb-3">
              <label for="id">账号</label>
              <input type="text" class="form-control" id="id" name="id" placeholder="请填写账号[学号|工号]">
            </div>
            <div class="row">
              <div class="col-lg-6">
                <div class="form-group mb-3">
                  <label for="name">姓名</label>
                  <input type="text" class="form-control" id="name" name="name" placeholder="请填写姓名">
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group mb-3">
                  <label for="birthday">生日</label>
                  <input type="date" class="form-control" id="birthday" name="birthday" placeholder="请选择生日，格式YYYY-MM-DD">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <div class="form-group mb-3">
                  <label for="nation">民族</label>
                  <input type="text" class="form-control" id="nation" name="nation" placeholder="请填写民族">
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group mb-3">
                  <label for="sex">性别</label>
                  <select class="form-control" id="sex" name="sex">
                    <option>保密</option>
                    <option>男</option>
                    <option>女</option>
                  </select>
                </div>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-lg-6">
                <div class="form-group mb-3">
                  <label for="leaguetime">入团时间</label>
                  <input type="date" class="form-control" id="leaguetime" name="league_time" placeholder="请选择日期">
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group mb-3">
                  <label for="appletime">申请入党时间</label>
                  <input type="date" class="form-control" id="appletime" name="party_apply_time" placeholder="请选择日期">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <div class="form-group mb-3">
                  <label for="stage">所在阶段</label>
                  <select class="form-control" id="stage" name="stage">
                    <option>群众</option>
                    <option>共青团员</option>
                    <option>入党积极分子</option>
                    <option>预备党员</option>
                    <option>发展对象</option>
                    <option>党员</option>
                  </select>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group mb-3">
                  <label for="stagetime">阶段开始时间</label>
                  <input type="date" class="form-control" id="stagetime" name="stage_time" placeholder="请选择生日">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <div class="form-group mb-3">
                  <label for="generalbranch">总支部</label>
                  <input type="email" class="form-control" id="generalbranch" name="general_branch" placeholder="请填写总支部">
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group mb-3">
                  <label for="branch">支部</label>
                  <input type="email" class="form-control" id="branch" name="branch" placeholder="请填写支部">
                </div>
              </div>
            </div>
            <hr>
            <div class="form-group mb-3">
              <label>个人荣誉</label>
              <textarea class="form-control" rows="3" id="honor" name="honor" placeholder="请填写个人荣誉 ..."></textarea>
            </div>
            <!--
            <div class="form-group mb-3">
              <label for="exampleInputFile">File input</label>
              <div class="input-group">
                <div class="custom-file">
                  <input type="file" class="custom-file-input" id="exampleInputFile" name="file">
                  <label class="custom-file-label" for="exampleInputFile">Choose file</label>
                </div>
                <div class="input-group-append">
                  <span class="input-group-text" id="">Upload</span>
                </div>
              </div>
            </div>
            -->
          </div>
        </form>
        <!-- /.card-body -->
          <div class="card-footer modal-footer">
            <button name="submit" class="btn btn-info" onclick="addOneData()">添加</button>
            <button name="cancel" class="btn btn-default float-right" data-dismiss="modal">取消</button>
          </div>
      </div>
  </div>

</div>
</div>
{/block}
{block name="user_js"}
<script>
    $(function () {
        //Enable iCheck plugin for checkboxes
        //iCheck for checkbox and radio inputs
        $('.mailbox-messages input[type="checkbox"]').iCheck({
            checkboxClass: 'icheckbox_flat-blue',
            radioClass   : 'iradio_flat-blue'
        })

        //Enable check and uncheck all functionality
        $('.checkbox-toggle').click(function () {
            var clicks = $(this).data('clicks')
            if (clicks) {
                //Uncheck all checkboxes
                $('.mailbox-messages input[type=\'checkbox\']').iCheck('uncheck')
                $('.fa', this).removeClass('fa-check-square-o').addClass('fa-square-o')
            } else {
                //Check all checkboxes
                $('.mailbox-messages input[type=\'checkbox\']').iCheck('check')
                $('.fa', this).removeClass('fa-square-o').addClass('fa-check-square-o')
            }
            $(this).data('clicks', !clicks)
        })

        //Handle starring for glyphicon and font awesome
        $('.mailbox-star').click(function (e) {
            e.preventDefault()
            //detect type
            var $this = $(this).find('a > i')
            var glyph = $this.hasClass('glyphicon')
            var fa    = $this.hasClass('fa')

            //Switch states
            if (glyph) {
                $this.toggleClass('glyphicon-star')
                $this.toggleClass('glyphicon-star-empty')
            }

            if (fa) {
                $this.toggleClass('fa-star')
                $this.toggleClass('fa-star-o')
            }
        })

        //Handle name for display user's card
        $('.mailbox-name').click(function (e) {
            e.preventDefault();
            $('#user_right_card').show();
            var user_id = e.target.outerText;
            $.ajax({
                type: 'post',
                url: '/getUserWithID',
                data: {'id':user_id},
                dataType: 'json',
                success: function (data) {
                    console.log(data['data']['data']);
                    var user = data['data']['data'][0];
                    var username = (user.name != null && (user.name).length>=1)?user.name:'暂无';
                    var userbirthday = (user.birthday != null && (user.birthday).length>=1)?user.birthday:'暂无';
                    var userstage = (user.stage != null && (user.stage).length>=1)?user.stage:'群众';
                    var userstagetime = (user.stage_time != null && (user.stage_time).length>=1)?'<'+user.stage_time+'>':'';
                    var userid = (user.id != null && (user.id).length>=1)?user.id:'暂无';
                    var usersex = (user.sex != null && (user.sex).length>=1)?user.sex:'暂无';
                    var usernation = (user.nation != null && (user.nation).length>=1)?user.nation:'暂无';
                    var userleaguetime = (user.league_time != null && (user.league_time).length>=1)?user.league_time:'暂无';
                    var userpartyapplytime = (user.party_apply_time != null && (user.party_apply_time).length>=1)?user.party_apply_time:'暂无';
                    var usergeneralbranch = (user.general_branch != null && (user.general_branch).length>=1)?user.general_branch:'';
                    var userbranch = (user.branch != null && (user.branch).length>=1)?'<br>'+user.branch:'';
                    var userhonor = (user.honor != null && (user.honor).length>=1)?user.honor:'暂无';

                    $('#username').html(username);
                    $('#userstage').html(userstage+userstagetime);
                    $('#userbranch').html(usergeneralbranch+userbranch);
                    $('#userid').html(userid);
                    $('#usersex').html(usersex);
                    $('#usernation').html(usernation);
                    $('#userbirthday').html(userbirthday);
                    $('#userleaguetime').html(userleaguetime);
                    $('#userpartyapplytime').html(userpartyapplytime);
                    $('#userhonor').html(userhonor);
                },
                error: function (err, tt, kk) {
                    alert('出现错误:'+JSON.stringify(err)+' 状态:'+tt+' 原因:'+kk);
                }
            })
        })
    })
    // 搜索用户信息
    function searchForUser() {
        var nameORid = $("input[ name='searchUser']").val();
        var reg = /^[\d]+$/;
        var s = reg.test(nameORid);
        var userid = null;
        var username = null;
        if (s) {
            userid = nameORid;
        } else {
            reg = /^[\u4e00-\u9fa5]*$/;
            s = reg.test(nameORid);
            if (s) {
                username = nameORid;
            } else {
                alert('输入参数格式有误');
            }
        }
        if(s) {
            window.location.href="/admin/user_management/searchUser?id="+userid+"&name="+username;
        }
    }
    // 刷新用户列表
    function refreshUserList() {
        window.location.href="/admin/user_management";
    }
    // 添加新用户
  function addOneData() {
      var d = {};
      var t = $('form').serializeArray();
      if (t[0].value.length < 1 || t[1].value.length < 1){
          alert('用户账号和姓名不能为空，请检查所填数据是否有误');
      } else {
          $.each(t, function() {
              if (this.value.length >= 1){
                  d[this.name] = this.value;
              }
          });
          $.ajax({
              type: 'post',
              url: '/insertUserinfo',
              data: {'data':d},
              dataType: 'json',
              success: function (data) {
                  if(data['data']){
                      alert(data['msg']);
                      $('#addOneModal').modal('hide');
                  } else {
                      alert(data['msg']);
                  }

              },
              error: function (err, tt, kk) {
                  alert('出现错误:'+JSON.stringify(err)+' 状态:'+tt+' 原因:'+kk);
              }
          });
      }
      console.log(JSON.stringify(d));
  }
  function addOneDataHide () {
      $('#addOneModal').modal('hide');
  }
</script>
{/block}
